body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(194, 218, 239);
    font-size: medium;
    margin-left:5%;
    margin-right:5%;
    color:rgb(50, 66, 80);

}

form{
    padding:15px;
    border:1.5px solid black;
}

form li{
    list-style-position: inside;
    padding:12px;
    text-align: center;
}

h1{
    text-align:center;
}

button{
    background-color: rgb(50, 66, 80);
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    margin:auto;
}

ol{
    display:flex;
    flex-direction: column;
    flex-wrap:nowrap;

}
input{
    width:15%;
    height:auto;
}

footer p{
    text-align:right;
}

footer a{
    text-decoration:italic;
    color:black;
}

h2{
    text-align:center;
}